$black: #222628;
$white: #fff;
$green: #2a9932;
$grey: #eee;
$darkgrey: #3d3d3d;
$lightgrey: #ccc;
$black: #222;
$grey: #666;
 
$plum: #882a81;
$purple: #ab1f88;
$magenta: #d8118c;
$red: #e12341;
$orange: #e85a2b;
$yellow: #f99b1f;
$forest: #37b349;
$grass: #81c345;
$green: #a3c643;
$ocean: #02a9a1;
$blue: #0093d8;
$darkblue: #006eb6;

$body_color: $black;
$admin_login_background_color: $grey;
$navbar_inner_color: $black;
$a_color: $green;
$page_header_btn_background_color: $green;
$page_header_btn_color: $white;
$page_header_btn_hover_color: $black;
$navbar_nav_li_a_background_color: $white;
$navbar_nav_li_a_color: $black;
$nav_pills_li_a_active_background_color: $green;
$nav_pills_li_a_active_color: $white;
$input_btn_primary_background_color: $green;
$input_btn_primary_color: $white;
$input_btn_primary_hover_color: $black;
$login_form_input_type_submit_background_color: $green;
$login_form_input_type_submit_color: $white;
$login_form_input_type_submit_hover_color: $black;
